html {
  overflow-y: scroll;
}

body {
    font-size: 14px; 
    font-family: 'Open Sans', Arial, sans-serif; 
    color: #333; 
    max-width: 45em; 
    margin: 0 auto;
}


ul, ol { 
    margin: 1em 0; 
    padding: 0 0 0 20px; 
}

img {
    max-width: 100%;
}

header {
    padding: 1em; 
    color: #C90B0B; 
}

.cfx {
    clear: both;
}

.profilepic {
    border-radius: 50%; 
    max-height: 100%;
    max-width: 20%;
}

.name-position { 
    font-size:1.5em; 
    font-weight: 700;
    float: right;
    text-align: right;
}
.position { 
    font-size: 0.8em;
}

.hero {
    padding: 2em; 
    background-color: #f8f8f8; 
    font-size:1.2em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.content { 
    padding: 1em; 
}

.img-responsive {
    width: 100%;
}

.project-item { 
    list-style-type: none; 
    font-size: 1.1em;
    height: 100px;
    margin: 5px;
}

.project-preview-pic { 
    float:left; 
    padding-right: 1em; 
    height: 100%;
}

.project-info { 
    font-size: 0.9em; 
    font-style: italic; 
}

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}

#crp-stats { 
    float: right; 
    font-style: italic; 
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body { 
      font-size: 12px;
    }
  .name-position { 
      padding-left: 4.5em;
    }
}
